/* Reset de margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos gerais */
  body {
    font-family: Arial, sans-serif;
    background-color:green;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura da tela inteira */
  }
  
  .container {
    width: 90%; /* Largura do conteúdo */
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: center; /* Centraliza horizontalmente */
  }
  
  /* ... (seus estilos existentes) */

/* Estilos para telas menores, como smartphones */
@media only screen and (max-width: 768px) {
    .container {
      width: 90%; /* Largura do conteúdo */
    }
  
    /* Ajustes para imagens */
    .imagem-titulo img,
    .textoFinal-imagem img {
      max-width: 80%; /* Diminuir o tamanho da imagem */
      display: block;
      margin: 0 auto; /* Centralizar a imagem */
    }
  
    /* Estilos para o título */
    .imagem-titulo h1 {
      color:red;
      font-size:px; /* Tamanho do texto aumentado */
      text-align: center; /* Centralizar o texto */
    }
  
    /* Estilos para os títulos */
    .imagem-titulo h1,
    .textoFinal-imagem h2 {
      color: yellow;
      font-family: 'Poppins', sans-serif;;
      margin-top: 15px;
      text-align: center;

    }
  
    /* Estilos para o texto */
    .textinho p {
      margin-top:25px;
      font-size: 20px;
      text-align: center;
      line-height: 1.3;
    }
  }
  